@use "variable" as v;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;

  &__icons-container {
    height: 1.5rem;
    display: flex;
    justify-content: center;
    margin-top: 0.5em;

    &-icon {
      width: auto;
      height: 100%;
      &--right{
        margin-left: 2em;
      }
    }
  }
}
