@use "variable" as v;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;

  &__icons-container {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;

    &-icon {
      width: 1.7em;
      height: auto;
      &--right{
        margin-left: 2em;
      }
    }
  }
}
