<!DOCTYPE html>

<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>卓展2024</title>
    <meta name="description" content="卓展とは、名古屋市立大学芸術工学部の学生による作品展示会です。プロジェクトに賛同した人々が卓を囲むようにして集まることから卓展となりました。">
    <meta name="format-detection" content="telephone=no">
    <link rel="canonical" href="https://geikou-takuten.com/">
    <!-- <link rel="icon" href="/favicon.ico"> -->
    <link rel="apple-touch-icon" href="/favicon.ico">
    <meta name="keywords" content="卓展,卓展2024,名古屋市,芸術工学,名古屋市立大学,名市大,芸工">

    <meta property="og:site_name" content="卓展2024">
    <meta property="og:url" content="https://geikou-takuten.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="卓展2024">
    <meta property="og:description" content="卓展とは、名古屋市立大学芸術工学部の学生による作品展示会です。プロジェクトに賛同した人々が卓を囲むようにして集まることから卓展となりました。">
    <!-- <meta property="og:image" content="https://geikou-takuten.com/2024/ogp.png"> -->
    <meta property="og:locale" content="ja_JP">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@takuten_geikou">
    <meta name="twitter:description" content="卓展とは、名古屋市立大学芸術工学部の学生による作品展示会です。プロジェクトに賛同した人々が卓を囲むようにして集まることから卓展となりました。">
    <!-- <meta name="twitter:image" content="https://geikou-takuten.com/2024/ogp.png"> -->
    
    <link rel="stylesheet" href="../css/pre.css">
</head>

<body>
    <div id="app">
        
    </div>
</body>
</html>