<!DOCTYPE html>

<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>卓展2024</title>
    <meta name="description" content="卓展とは、名古屋市立大学芸術工学部の学生による作品展示会です。プロジェクトに賛同した人々が卓を囲むようにして集まることから卓展となりました。">
    <meta name="format-detection" content="telephone=no">
    <link rel="canonical" href="https://geikou-takuten.com/">
    <!-- <link rel="icon" href="/favicon.ico"> -->
    <link rel="apple-touch-icon" href="/favicon.ico">
    <meta name="keywords" content="卓展,卓展2024,名古屋市,芸術工学,名古屋市立大学,名市大,芸工">

    <meta property="og:site_name" content="卓展2024">
    <meta property="og:url" content="https://geikou-takuten.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="卓展2024">
    <meta property="og:description" content="卓展とは、名古屋市立大学芸術工学部の学生による作品展示会です。プロジェクトに賛同した人々が卓を囲むようにして集まることから卓展となりました。">
    <!-- <meta property="og:image" content="https://geikou-takuten.com/2024/ogp.png"> -->
    <meta property="og:locale" content="ja_JP">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@takuten_geikou">
    <meta name="twitter:description" content="卓展とは、名古屋市立大学芸術工学部の学生による作品展示会です。プロジェクトに賛同した人々が卓を囲むようにして集まることから卓展となりました。">
    <!-- <meta name="twitter:image" content="https://geikou-takuten.com/2024/ogp.png"> -->
    
    <link rel="stylesheet" href="../css/pre.css">
</head>

<body>
    <div id="bg">
        <div class = "bg-part">
            <img class = "img-left" src="../image/geo_up_left.png" alt="背景画像">
            <div class="spacer"></div>
            <img class = "img-left" src="../image/geo_low_left.png" alt="背景画像">
        </div>

        <div class = "bg-part">
            <img id = "img-main-logo" src="../image/main_logo.png" alt="ロゴ画像">
        </div>

        <div class = "bg-part">
            <img class = "img-right" src="../image/geo_up_right.png" alt="背景画像">
            <div class="spacer"></div>
            <img class = "img-right" src="../image/geo_low_right.png" alt="背景画像">
        </div>
    </div>

    <!-- <div id="content">
        <div class="content-part">
            <p>デザインを学ぶ学生の8つのプロジェクトによる<br>作品発表・展示会</p>
        </div>
        <div class="content-part">
            <div id="datetime">
                <div class="datetime-part">
                    <p>8.16 <span>Fri</span></p>
                    <p>↓</p>
                    <p>8.18 <span>Sun</span></p>
                </div>
                <div class="datetime-part">
                    <p>10:00 - 17:00<br><span>最終日のみ - 16:00</span></p>
                    <p><span class="badge">入場無料</span></p>
                </div>
            </div>
        </div>
        <div class="content-part">
            <div id="access">
                <p>名古屋市立大学 北千種キャンパス</p>
                <p>愛知県名古屋市千種区北千種 2-1-10</p>
                <p>
                    ・地下鉄 名城線「名古屋ドーム前矢田駅」1番出口より徒歩15分<br>
                    ・市バス・名鉄バス「萱場」より徒歩1分<br>
                    ・市バス「清明山」より徒歩5分
                </p>
            </div>
        </div>
    </div> -->
</body>
</html>