@use "mixin" as *;
@use "variable" as v;

.venue {
  background-color: v.$cSub;

  h1,
  span,
  p {
    color: v.$cWhite;
  }

  &__head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
    }

    &-date {
      flex-grow: 1;
      width: calc(100% * 1 / 3);

      @include mq(sm) {
        flex-grow: 1;
        width: calc(100% * 1 / 6);
      }
    }
    &-time {
      flex-grow: 2;
      width: calc(100% * 2 / 3);
      @include badge(v.$cWhite, v.$cSub) {
      }

      @include mq(sm) {
        flex-grow: 2;
        width: calc(100% * 2 / 6);
      }
    }
    &-map {
      flex-grow: 3;
      width: calc(100% * 3 / 3);

      @include mq(sm) {
        flex-grow: 3;
        width: calc(100% * 3 / 6);
      }
    }
  }
  &__foot{
    & > p{
      margin-top: 1.5em;
    }
  }


  & .arrow {
    height: 2rem;
  }
}
