@use "mixin" as *;
@use "variable" as v;

#about{
    background-color: v.$cMain;
    color: v.$cWhite;

    .content{

        h1, p{
            text-align: center;
            line-height: 2.5em;
        }
    }

}